* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
  font-size: 62.5%;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.image-container {
  width: 46%;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}

.heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #043133;
  margin-top: 112px;
}
.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #4d5959;
  margin-bottom: 4px;
}

.input-container input {
  max-width: 600px;
  height: 65px;
  background-color: #eff0f2;
  border: none;
  margin-bottom: 36px;
  outline: none;
}

.input-container :nth-child(6) {
  margin-bottom: 50px;
}

.input-container input:placeholder-shown {
  padding: 17px 0 18px 29px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  font-family: "Poppins";
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-container button {
  width: 300px;
  height: 60px;
  background-color: #007074;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #ffffff;
  border: none;
  padding: 10.5px 47px;
  margin-bottom: 24px;
}

.account {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #4d5959;
  margin-bottom: 34px;
}

.account span {
  color: #007074;
  cursor: pointer;
}

.or {
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #043133;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.button-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 115px;
}

.signup-button {
  width: 288px;
  height: 62px;
  border: 1.4px solid #d2d2d2;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #043133;
  padding: 0;
  padding-right: 49px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.signup-button img {
  padding-right: 12px;
}

@media screen and (max-width: 1184px) {
  .button-container {
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .main-container {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    height: 200px;
  }

  .main-img {
    object-fit: cover;
    height: 100%;
  }

  /* .second-container {
    padding: 0 15px;
  } */

  .heading {
    text-align: center;
  }
}
